<section class="project--new">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Add a project</h1>

      <%= render "new_project-form" %>
    </div>
  </div>
</section>
