textarea {
  max-width: 100%;
}

.form-actions {
  margin-top: 30px;
}

.simple_form .btn--primary {
  margin-right: 10px;
}

.simple_form .btn--secondary {
  background-color: #ccc;
  color: #666;
}
